@font-face {
  font-family: "CanelaLight";
  src:
    url("../fonts/CanelaLightCyGr.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
  font-weight: normal;
}

@font-face {
  font-family: "CanelaThin";
  src:
    url("../fonts/CanelaThinCyWeb.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
  font-weight: normal;
}

@font-face {
  font-family: "CanelaLightItalic";
  src:
    url("../fonts/CanelaLightItalic.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
  font-weight: normal;
}

@font-face {
  font-family: "CanelaThinItalic";
  src:
    url("../fonts/CanelaThinItalic.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaNeueMedium";
  src:
    url("../fonts/HelveticaNeue-Medium.otf") format("opentype");
  font-style: normal;
  font-display: swap;
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaNeueBold";
  src:
    url("../fonts/HelveticaNeue-Bold.otf") format("opentype");
  font-style: normal;
  font-display: swap;
  font-weight: normal;
}