@use "./utils" as *;

.h1 {
	font-size: 14.2659rem;
	line-height: 77%;
	letter-spacing: -0.5706rem;
	text-transform: uppercase;
	font-family: var(--font-ct);

	@include mobile {
		font-size: 4.25rem;
		line-height: 88%;
		letter-spacing: -0.1275rem;
	}
}
.h2 {
	font-size: 8.75rem;
	line-height: 88%;
	letter-spacing: -0.2625rem;
	font-family: var(--font-ct);
	@include mobile {
		font-size: 3.125rem;
		letter-spacing: -0.0938rem;
	}
}
.h3 {
	font-size: 7rem;
	line-height: 77%;
	letter-spacing: -0.21rem;
	font-family: var(--font-ct);

	@include mobile {
		font-size: 3.75rem;
		letter-spacing: -0.1125rem;
	}
}
.h4 {
	font-size: 5.6787rem;
	line-height: 73%;
	letter-spacing: -0.1704rem;
	font-family: var(--font-ct);

	@include mobile {
		font-size: 4rem;
		letter-spacing: -0.12rem;
	}
}
.h5 {
	font-size: 2.5rem;
	line-height: 100%;
	letter-spacing: -0.05rem;
	font-family: var(--font-cl);

	@include mobile {
		font-size: 1.5rem;
		letter-spacing: -0.03rem;
	}
}
.p1 {
	font-size: .75rem;
	line-height: 110%;
	letter-spacing: -0.015rem;
	text-transform: uppercase;
}
.p2 {
	font-size: 1rem;
	letter-spacing: -0.03rem;
}