@use "./utils" as *;

// viewport

:root {
  --viewport: 1440;

  @include mobile {
    --viewport: 375;
  }
}

// fonts

:root {
  --font-cl: "CanelaLight";
  --font-ct: "CanelaThin";
  --font-cti: "CanelaThinItalic";
  --font-cli: "CanelaLightItalic";
  --font-hm: "HelveticaNeueMedium";
  --font-hb: "HelveticaNeueBold";
}

// transitions

:root {
  --default-ease: cubic-bezier(0.24, 1, 0.36, 1);
}

// colors

:root {
  --c-black: #173A47;
  --c-white: #ffffff;
}